<div class="nav-box">
    <div class="container">
		<ul class="list">
	    	<li class="oncurr"><a href="index.html">首页</a></li>
	    	<li><a href="XingGang.html">型钢</a></li>
	    	<li><a href="GangBan.html">钢板</a></li>
	    	<li><a href="GangGuan.html">钢管</a></li>
	    	<li><a href="BuXiuGang.html">不锈钢</a></li>
	    	<li><a href="TeShuGang.html">特殊钢</a></li>
	    	<li><a href="XianHuoZiYuan.html">现货资源</a></li>
	    	
	    	<li><a href="GangCaiZiXun.html">钢材资讯</a></li>
	    	<li><a href="GuanYuWoMen.html">关于川固</a></li>
	    	<li><a href="LianXiWoMen.html">联系川固</a></li>
	    </ul>
    </div>
</div>