@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./scss/_funvar.scss";

.coms-field-select {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ececec;
    padding: px2rem(20px) px2rem(60px) px2rem(20px) px2rem(10px);
    width: 100%;
    color: #666;
    @include font-dpr(16px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff url(../images/coms_field_select_arrow.png) no-repeat 100% center;
    @extend %text-overflow;
}


.coms-field-text {
    display: inline-block;
    width: 100%;
    height: px2rem(88px);
    padding: px2rem(8px) px2rem(25px);
    background-image: none;
    border: 1px solid #ccc;
    @include font-dpr(16px);
    color: #333333;
    border-radius: 0;
    background-color: #fbfbfb;
    -webkit-appearance: none;
    &:disabled {
        background-color: #eee;
    }
}

.pl30 {
    padding-left: px2rem(30px);
}

.pr30 {
    padding-right: px2rem(30px);
}

.pbfooter {
    padding-bottom: px2rem(110px);
}

/**
 * 表单验证样式
 */

.field-invalid {
    border-color: #a94442;
}

.field-invalidmsg {
    color: #a94442;
}

.field-validmsg {
    color: #3c763d;
}

.field-tooltipWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999999999999;
}

.field-tooltipInner {
    pointer-events: none;
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.field-tooltip {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.field-tooltip .field-invalidmsg,
.field-tooltip .field-validmsg {
    color: #fff;
}

.field-tooltip .zvalid-resultformat {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: px2rem(30px) px2rem(50px);
    @include font-dpr(18px);
    border-radius: px2rem(20px);
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    pointer-events: auto;
    animation-name: fieldTipBounceIn;
    -webkit-animation-name: fieldTipBounceIn;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .18s;
    animation-duration: .18s;
}

@-webkit-keyframes fieldTipBounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}







/**
 * 网站通过
 */

html,
body {
    height: 100%;
    background:#000000;
}

.container {
    max-width: px2rem(750px);
    margin: 0 auto;
    height: 100%;
    position:relative;
    background:url("../images/header_body_bg.jpg") no-repeat top center;
    background-size:100% auto;
    padding-top:px2rem(473px);
}




/**
 * 注册页面 
 */

.forms-avatar {
    background: url("../images/zc_top_bg.jpg") no-repeat top center;
    background-size: 100% 100%;
    height: px2rem(300px);
    position: relative;
    .avatar {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        .pic {
            width: px2rem(180px);
            height: px2rem(180px);
            overflow: hidden;
            background: #cccccc;
            border: px2rem(4px) solid #5f5d5b;
            border-radius: 50%;
            display: block;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .file {
        position: relative;
        display: block;
        background: #D0EEFF;
        border: 1px solid #99D3F5;
        border-radius:px2rem(5px);
        padding:px2rem(10px) px2rem(20px);
        overflow: hidden;
        color: #1E88C7;
        text-decoration: none;
        text-indent: 0;
        text-align:center;
        margin:px2rem(10px) auto 0;
        @include font-dpr(16px);
    }
    .file input {
        position: absolute;
        font-size: 100px;
        right: 0;
        top: 0;
        opacity: 0;
    }
    .file:hover {
        background: #AADFFD;
        border-color: #78C3F3;
        color: #004974;
        text-decoration: none;
    }
}

.forms-box {
    .item-para {
        position: relative;
        .para-tit {
            position: absolute;
            left: 0%;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            -moz-transform: translate(0%, -50%);
            font-size: px2rem(34px);
            color: #26252b;
            margin-top:px2rem(-2px);
        }
        .btn-getcode {
            position: absolute;
            right: 0%;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            -moz-transform: translate(0%, -50%);
            height: px2rem(60px);
            line-height: px2rem(60px);
            background: #449d44;
            padding: 0 px2rem(20px);
            font-size: px2rem(30px);
            border-radius: px2rem(5px);
            border:none;
            color: #fff;
            &:active {
                background-color: darken(#449d44, 5%)
            }
            &[disabled] {
                background-color: #cccccc;
                border: none;
            }
        }
    }
    .ipt-text {
        display: block;
        width: 100%;
        height: px2rem(98px);

        padding: px2rem(13px) px2rem(25px) px2rem(13px) px2rem(180px);
        background-image: none;
        font-size: px2rem(34px);
        color: #26252b;
        border-radius: 0;
        -webkit-appearance: none;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid #ccc;
    }
    .ipt-submit {
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: none;
        background: url("../images/regiser_btn.png") no-repeat top center;
        background-size: 100% 100%;
        height: px2rem(74px);
        width: 100%;
        margin-top: px2rem(50px);
    }
}





/**
 * 
 */

.container-out-bg {
    background: url("../images/top_bg.jpg") no-repeat top center;
    background-size: 100% auto;
    padding-top: px2rem(680px);
    min-height: 100%;
}

.container-inner-bg {
    background: url("../images/footer_bg.jpg") no-repeat bottom center #e3e3e3;
    background-size: 100% auto;
    padding-top: px2rem(10px);
    padding-bottom: px2rem(40px);
    min-height: 100%;
}

.header-list {
    position: absolute;
    right: px2rem(50px);
    top: px2rem(40px);
    &:after {
        content: "";
        width: px2rem(4px);
        background: #e4d592;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    li {
        position: relative;
        z-index: 1;
        a{
            display:block;
            width:px2rem(80px);
            height:px2rem(74px);
            overflow:hidden;
            background-repeat:no-repeat;
            background-size:100% 100%;
            background-position:top center;
        }
        &.header-phone{
            margin-bottom: px2rem(30px);
            a{
                background-image:url("../images/phone_icon_1.png");
            }
        }
        &.header-gz{
            a{
                background-image:url("../images/guize_icon_1.png");
            }
        }
    }   
}



/**
 * 
 */
.home-mrzx{
    position:relative;
    margin-top:px2rem(80px);
    .caption{
        width:292px;
        height:px2rem(101px);
        background:url("../images/mrzx_caption.png") no-repeat top center;
        background-size:100% 100%;
        position: absolute;
         left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        top: px2rem(-70px);
        background-size: 100% 100%;
        z-index:1;

    }
     .list {
        position: relative;
        padding-bottom:px2rem(35px);
        border-bottom:px2rem(10px) solid #7d0b0b;
        height:px2rem(300px);
        li {
            position: absolute;
            top: 0;
            .txt {
                text-align: center;
                @include font-dpr(12px);
                color: #26252b;
                 color: #fff;
                font-weight: bold;
                @extend %text-overflow;
                margin-top:px2rem(10px);
            }
            .pic {
                b {
                    border-radius: 50%;
                    overflow: hidden;
                    display: block;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            &.item-1 {

                left: 50%;
               width: px2rem(179px);
                margin-left: px2rem(-179px/2);
                .pic {
                    width: px2rem(179px);
                    height: px2rem(217px);
                    padding: px2rem(55px) px2rem(16px) 0;
                    background: url("../images/mrzx_rank_1.png") no-repeat top center;
                    background-size: 100% 100%;
                    overflow:hidden;
                    b {

                        width: px2rem(147px);
                        height: px2rem(147px);
                    }
                }
            }
            &.item-2 {
                left: px2rem(30px);
                top:px2rem(10px);
                width: px2rem(200px);
                    
                .pic {
                    width: px2rem(116px);
                    height: px2rem(188px);
                    margin: 0 auto;
                    padding: px2rem(92px) px2rem(20px) 0;
                    background: url("../images/mrzx_rank_2.png") no-repeat top center;
                    background-size: 100% 100%;
                    b {

                        width: px2rem(78px);
                        height: px2rem(78px);
                    }
                }
            }
            &.item-3 {
                position: absolute;
                right: px2rem(30px);
                width: px2rem(200px);
                top:px2rem(10px);
                .pic {
                    width: px2rem(116px);
                    height: px2rem(188px);
                    margin: 0 auto;
                    padding: px2rem(83px) px2rem(11px) 0;
                    background: url("../images/mrzx_rank_3.png") no-repeat top center;
                    background-size: 100% 100%;
                    b {

                        width: px2rem(93px);
                        height: px2rem(93px);
                    }
                }
            }
        }
    }
}

.home-zphb{
    margin-top:px2rem(30px);
    .caption{
        width:550px;
        height:px2rem(102px);
        background:url("../images/zphb_caption.png") no-repeat top center;
        background-size:auto 100%;
        margin:0 auto;

    }
}
.h-zphb-list{
    position:relative;
    height:px2rem(515px);
    margin-top:px2rem(-18px);
    li{
        position: absolute;
        top: 0;
        height:px2rem(515px);
        .pic{
                position: absolute;
                left: 50%;
                top: 0;
                -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                z-index:1 ;
        }
        .txt{
            height:px2rem(43px);
            width:px2rem(190px);
            line-height:px2rem(43px);
            color:#fff;
            overflow:hidden;
            background:url("../images/zphb_list_bg.png") no-repeat top center;
            background-size:100% 100%;
            position: absolute;
            left: 50%;
            bottom:0;
            -webkit-transform: translate(-50%,0);
            -ms-transform: translate(-50%,0);
            -moz-transform: translate(-50%,0);
            z-index:1 ;
            @include font-dpr(12px);
            @extend %text-overflow;
        }
        &.item-1{
            left:50%;
            width:px2rem(338px);
            margin-left:px2rem(-338px/2);
            .pic{
                width:px2rem(338px);
                height:px2rem(337px);
                overflow:hidden;
                padding:px2rem(94px) px2rem(101px) 0;
                background:url("../images/zphb_rank_11.png") no-repeat;
                background-size:100% 100%;
                b{
                    width:px2rem(137px);
                    height:px2rem(137px);
                    overflow:hidden;
                    display:block;
                    border-radius:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
            .stick{
                width:px2rem(148px);
                height:px2rem(208px);
                overflow:hidden;
                background:url("../images/zphb_rank_bb_1.png") no-repeat top center;
                background-size:100% 100%;
                position: absolute;
                left: 50%;
                top:px2rem(270px);
                -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                z-index: 2;
            }
        }

        &.item-2{
            left:px2rem(30px);
            z-index:1 ;
            width:px2rem(152px);
            .pic{
                width:px2rem(152px);
                height:px2rem(151px);
                overflow:hidden;
                padding:px2rem(17px) px2rem(17px) 0;
                background:url("../images/zphb_rank_2.png") no-repeat top center;
                background-size:100% 100%;
                top:px2rem(98px);
                b{
                    width:px2rem(118px);
                    height:px2rem(118px);
                    overflow:hidden;
                    display:block;
                    border-radius:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
            .stick{
                width:px2rem(149px);
                height:px2rem(255px);
                overflow:hidden;
                background:url("../images/zphb_rank_bb_22.png") no-repeat top center;
                background-size:100% 100%;
                position: absolute;
                left: 50%;
                top:px2rem(220px);
                -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                z-index: 2;
            }
        }

        &.item-3{
            right:px2rem(30px);
            z-index:1 ;
            width:px2rem(152px);
            .pic{
                width:px2rem(152px);
                height:px2rem(151px);
                overflow:hidden;
                padding:px2rem(17px) px2rem(17px) 0;
                background:url("../images/zphb_rank_3.png") no-repeat top center;
                background-size:100% 100%;
                top:px2rem(98px);
                b{
                    width:px2rem(118px);
                    height:px2rem(118px);
                    overflow:hidden;
                    display:block;
                    border-radius:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
            .stick{
                width:px2rem(149px);
                height:px2rem(255px);
                overflow:hidden;
                background:url("../images/zphb_rank_bb_22.png") no-repeat top center;
                background-size:100% 100%;
                position: absolute;
                left: 50%;
                top:px2rem(220px);
                -webkit-transform: translate(-50%,0);
                -ms-transform: translate(-50%,0);
                -moz-transform: translate(-50%,0);
                z-index: 2;
            }
        }
    }
}











.h-footer {
    display: flex;
    margin-top: px2rem(40px);
    padding: 0 px2rem(15px) px2rem(30px);
    li {
        flex: 1;
        padding: 0 px2rem(15px);
        a {
            display: block;
            height: px2rem(80px);
            overflow: hidden;
        }
        &.item-1 {
            a {
                background: url("../images/btn_zjtp.png") no-repeat top center;
                background-size: auto 100%;
            }
        }
        &.item-2 {
            a {
                background: url("../images/btn_zchy.png") no-repeat top center;
                background-size: auto 100%;
            }
        }
    }
}




/**
 * 
 */


.rules-box {
    padding-top: px2rem(105px);
    position: relative;
    padding-bottom:px2rem(30px);
    margin-top:px2rem(-10px);
    .caption {
        width: px2rem(292px);
        height: px2rem(105px);
        overflow: hidden;
        background: url("../images/hdgz_caption.png") no-repeat top center;
        position: absolute;
        left: 50%;
        top: 0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        background-size:100% 100%;
    }
    .iscroll-wrap {
        position: relative;
        height: px2rem(450px);
        overflow: hidden;
        -ms-touch-action: none;

        /* Prevent the callout on tap-hold and text selection */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        /* Prevent text resize on orientation change, useful for web-apps */
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
    }
    .iscroll-scroller {
        position: absolute;

        /* Prevent elements to be highlighted on tap */
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        /* Put the scroller into the HW Compositing layer right from the start */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
    }
    .rules-bd {
        width: px2rem(689px);
        height: px2rem(491px);
        overflow: hidden;
        margin-top: px2rem(-50px);
        background: url("../images/rules_bg.png") no-repeat top center;
        background-size: 100% 100%;
        .detail {
            padding:px2rem(15px) px2rem(30px);
            .tit {
                color: #9b2b32;
                @include font-dpr(18px);
                font-weight: bold;
                margin-top: px2rem(20px);
            }
            .desc {
                color: #26252b;
                margin-top: px2rem(15px);
                @include font-dpr(14px);
                line-height: 1.34;
                img {
                    max-width: 100%;
                }
            }
        }
    }
}


.footer {
    display: flex;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    height: px2rem(98px);
    line-height: px2rem(98px);
    background: #7d0b0b;
    box-shadow: 0 0 15px 0 #6e6c6c;
    li {
        flex: 1;
        a {
            display: block;
            text-align: center;
            @include font-dpr(16px);
            color: #fff;
            i{
                overflow:hidden;
                 display:inline-block;
                 vertical-align:middle;
                 background-position:top center;
                 background-repeat:no-repeat;
                 background-size:100% 100%;
                 margin-right:px2rem(10px);
            }
        }
        &.active,&:active{
            background-color:darken(#7d0b0b,8%)
        }
        &.item-1{
            a{
                i{
                    width:px2rem(31px);
                    height:px2rem(28px);
                    margin-top:px2rem(-3px);
                    background-image:url("../images/ft_home_icon.png");

                }
            }
        }
        &.item-2{
            a{
                i{
                    width:px2rem(23px);
                    height:px2rem(30px);
                    margin-top:px2rem(-3px);
                    background-image:url("../images/ft_wd_icon.png");

                }
            }
        }
        &.item-3{
            a{
                i{
                    width:px2rem(30px);
                    height:px2rem(30px);
                    margin-top:px2rem(-3px);
                    background-image:url("../images/ft_serch_icon.png");

                }
            }
        }
    }
}

/**
 * 列表
 */
.pro-tab-hd{
    background:url("../images/pro_list_tab_hd.png") no-repeat top center;
    background-size:100% 100%;
    height:px2rem(68px);
    display:flex;
    padding:px2rem(8px) px2rem(15px);
    margin-top:px2rem(20px);

    li{
        flex:1;
        a{
            display:block;
            background-size:100% 100%;
            background-repeat:no-repeat;
            background-position:top center;
            height:px2rem(52px);
        }
        &.active{
            &.item-1{
                a{
                    
                    background-image:url("../images/pro_list_tab_zjf_hover.png");
                }
            }
            &.item-2{
                a{
                    height:52px;
                    background-image:url("../images/pro_list_tab_rjf_hover.png");
                }
            }
        }
        &.item-1{
            a{
                
                background-image:url("../images/pro_list_tab_zjf.png");
            }
        }
        &.item-2{
            a{
                height:52px;
                background-image:url("../images/pro_list_tab_rjf.png");
            }
        }
    }
}

.pro-list{
    li{
        width: px2rem(330px);
        height:px2rem(446px);
        overflow:hidden;
        background:url("../images/pro_li_bg.png") no-repeat top center;
        background-size:100% 100%;
        position:relative;
        float:left;
        margin-top:px2rem(27px);
        &:nth-child(2n){
            margin-left:px2rem(27px);
        }
        .pic{
            width:px2rem(220px);
            height:px2rem(220px);
            margin:px2rem(56px) auto 0;
            background: #000;
            position: relative;
            overflow:hidden;
            img{
                width:100%;
                height:100%;
            }
            &:before {
                content: "";
                width:px2rem(150px);
                height: 0;
                position: absolute;
                top: 0;
                left: 0;
                border-bottom:px2rem(35px) solid transparent;
                border-left:px2rem(35px) solid #fff;
                border-right:px2rem(35px) solid #fff;
            }
            &:after {
                content: "";
                width:px2rem(150px);
                height: 0;
                position: absolute;
                bottom: 0;
                left: 0;
                border-top:px2rem(35px) solid transparent;
                border-left:px2rem(35px) solid #fff;
                border-right:px2rem(35px) solid #fff;
            }           
        }
        .para-val{
            padding:0 px2rem(105px) 0 px2rem(13px);
            margin-top:px2rem(52px);

            .name{
                color:#26252b;
                font-size:px2rem(24px);
                margin-bottom:px2rem(3px);
                @extend %text-overflow;
            }
            .score{
                color:#992a31;
                font-size:px2rem(26px);
                margin-bottom:px2rem(3px);
                 @extend %text-overflow;
            }
            .rank{
                color:#5f5d5b;
                font-size:px2rem(24px);
                 @extend %text-overflow;
            }
        }
        .btn-buy{
            position:absolute;
            right:px2rem(12px);
            bottom:px2rem(30px);
            width:px2rem(100px);
            height:px2rem(88px);
            overflow:hidden;
            background:url("../images/pro_buy_bg.png") no-repeat top center;
            background-size:100% 100%;
        }
    }
}