@import "./scss/_normalize.scss";
@import "./scss/_base.scss";
@import "./scss/_funvar.scss";

.coms-field-select {
    -webkit-appearance: none !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid #ececec;
    padding: px2rem(20px) px2rem(60px) px2rem(20px) px2rem(10px);
    width: 100%;
    color: #666;
    @include font-dpr(16px);
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: #fff url(../images/coms_field_select_arrow.png) no-repeat 100% center;
    @extend %text-overflow;
}


.coms-field-text {
    display: inline-block;
    width: 100%;
    height: px2rem(88px);
    padding: px2rem(8px) px2rem(25px);
    background-image: none;
    border: 1px solid #ccc;
    @include font-dpr(16px);
    color: #333333;
    border-radius: 0;
    background-color: #fbfbfb;
    -webkit-appearance: none;
    &:disabled {
        background-color: #eee;
    }
}

.pl30 {
    padding-left: px2rem(30px);
}

.pr30 {
    padding-right: px2rem(30px);
}





/**
 * 网站通过
 */
html,body{
    height:100%;
}
.container {
    max-width: px2rem(750px);
    margin: 0 auto;
    height:100%;
}


/**
 * 注册页面 
 */

.forms-avatar {
    background: url("../images/zc_top_bg.jpg") no-repeat top center;
    background-size: 100% 100%;
    height: px2rem(300px);
    position: relative;
    .avatar {
        width: px2rem(180px);
        height: px2rem(180px);
        overflow: hidden;
        background: #cccccc;
        border: px2rem(4px) solid #5f5d5b;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.forms-box {
    .item-para {
        position: relative;
        .para-tit {
            position: absolute;
            left: 0%;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            -moz-transform: translate(0%, -50%);
            font-size: px2rem(34px);
            color: #26252b;
        }
        .btn-getcode {
            position: absolute;
            right: 0%;
            top: 50%;
            -webkit-transform: translate(0%, -50%);
            -ms-transform: translate(0%, -50%);
            -moz-transform: translate(0%, -50%);
            height: px2rem(60px);
            line-height: px2rem(60px);
            background: #449d44;
            padding: 0 px2rem(20px);
            font-size: px2rem(30px);
            border-radius: px2rem(5px);
            color: #fff;
            &:active {
                background-color: darken(#449d44, 5%)
            }
            &[disabled] {
                background-color: #cccccc;
                border: none;
            }
        }
    }
    .ipt-text {
        display: block;
        width: 100%;
        height: px2rem(98px);
        padding: px2rem(13px) px2rem(25px) px2rem(13px) px2rem(180px);
        background-image: none;
        font-size: px2rem(34px);
        color: #26252b;
        border-radius: 0;
        -webkit-appearance: none;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 1px solid #ccc;
    }
    .ipt-submit {
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: none;
        background: url("../images/regiser_btn.png") no-repeat top center;
        background-size: 100% 100%;
        height: px2rem(80px);
        width: 100%;
        margin-top: px2rem(50px);
    }
}



/**
 * 
 */

.container-out-bg {
    background: url("../images/top_bg.jpg") no-repeat top center;
    background-size: 100% auto;
    padding-top: px2rem(680px);
    min-height:100%;
}

.container-inner-bg {
    background: url("../images/footer_bg.jpg") no-repeat bottom center #e3e3e3;
    background-size: 100% auto;
    padding-top:px2rem(10px);
    padding-bottom: px2rem(40px);
    min-height:100%;
}

.header-list {
    position: absolute;
    right: px2rem(30px);
    top: px2rem(-30px);
    li{
        position:relative;
        z-index: 1;
    }
    &:after{
        content: "";
        width:px2rem(4px);
        background:#e4d592;
        height:100%;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

    .header-phone {
        width: px2rem(110px);
        height: px2rem(110px);
        border-radius: 50%;
        background: #e4d592;
        overflow: hidden;
        display: block;
        position: relative;
        margin-bottom: px2rem(20px);
        b {
            width: px2rem(51px);
            height: px2rem(35px);
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -30%);
            -ms-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            transform: translate(-50%, -30%);
            background: url("../images/phone_icon_1.png") no-repeat top center;
            background-size: 100% 100%;
        }
    }

    .header-gz {
        width: px2rem(110px);
        height: px2rem(110px);
        border-radius: 50%;
        background: #e4d592;
        overflow: hidden;
        display: block;
        position: relative;
        b {
            width: px2rem(110px);
            height: px2rem(110px);
            display:block;
            background: url("../images/guize_icon_1.png") no-repeat top center;
            background-size: 100% 100%;
        }
    }
}

/**
 * 
 */
.home-phzb{
    background:url("../images/phzb_bg.png") no-repeat top center;
    background-size:100% 100%;
    height:px2rem(370px);
    padding-top:px2rem(44px);
    position:relative;
    margin-top:px2rem(-190px);
    .caption{
        width:px2rem(292px);
        height:px2rem(105px);
        position: absolute;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        top:px2rem(-30px);
        background:url("../images/phzb_icon.png") no-repeat top center;
        background-size:100% 100%;
    }
    .list{
        position:relative;
        li{
            position:absolute;
           
            top:0;
            .txt{
                text-align:center;
                @include font-dpr(12px);
                color:#26252b;
                font-weight: bold;
                @extend %text-overflow;
            }             
            .pic{
                b{
                    border-radius:50%;
                    overflow:hidden;
                    display:block;
                    img{
                        width:100%;
                        height:100%;
                        
                    }
                }
                
            }
            &.item-1{

               left:50%;
                width:px2rem(213px);
               margin-left:px2rem(-213px/2);  
               .pic{
                    width:px2rem(213px);
                    height:px2rem(232px);
                    padding:px2rem(70px) px2rem(49px);
                    background:url("../images/rank1_1_icon.png") no-repeat top center;
                    background-size:100% 100%;
                    b{
                        
                        width:px2rem(115px);
                        height:px2rem(115px);
                    }
               }

            }
            &.item-2{
                left:px2rem(40px);
                width:px2rem(200px);
                
               .pic{
                    width:px2rem(148px);
                    height:px2rem(207px);
                    margin:0 auto;
                    padding:px2rem(88px) px2rem(33px) 0;
                    background:url("../images/rank1_2_icon.png") no-repeat top center;
                    background-size:100% 100%;
                    b{
                        
                        width:px2rem(84px);
                        height:px2rem(84px);
                    }
               }
            }
            &.item-3{
               position:absolute;
               right:px2rem(40px);
               width:px2rem(200px);
               .pic{
                    width:px2rem(151px);
                    height:px2rem(207px);
                    margin:0 auto;
                    padding:px2rem(89px) px2rem(34px) 0;
                    background:url("../images/rank1_3_icon.png") no-repeat top center;
                    background-size:100% 100%;
                    b{
                        
                        width:px2rem(84px);
                        height:px2rem(84px);
                    }
               }
            }

        }
    }
}

.h-rank-list{
    position:relative;
    margin:0 px2rem(40px);
    height:px2rem(240px);
    margin-top:px2rem(20px);
    li{
        position:absolute;
        top:0;
        width:px2rem(174px);
        .txt{
                text-align:center;
                @include font-dpr(12px);
                color:#26252b;
                font-weight: bold;
                @extend %text-overflow;
                background:url("../images/rank2_txtbg_icon.png") no-repeat center center;
                height:px2rem(57px);
                line-height:px2rem(57px);
                background-size:auto 100%;
            }         
        .pic{
            background-repeat:no-repeat;
            background-position:center center;
            background-size:100% 100%;
            width:px2rem(174px);
            height:px2rem(174px);
            padding-top:px2rem(30px);
            overflow:hidden;
            b{
                border-radius:50%;
                overflow:hidden;
                width:px2rem(115px);
                height:px2rem(115px);
                display:block;
                margin:0 auto;
                img{
                    width:100%;
                    height:100%;
                    
                }
            }
            
        }
        &.item-1{
            left:50%;
            
            margin-left:px2rem(-174px/2);
            .pic{
                background-image:url("../images/rank2_1_icon.png");
            }
        }
        &.item-2{
            left:0;
            
            .pic{
                background-image:url("../images/rank2_2_icon.png");
            }
        }
        &.item-3{
            right:0;
            
            .pic{
                background-image:url("../images/rank2_3_icon.png");
            }
        }
    }
}

.h-tit-type1{
    height:69px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:auto 100%;
    &.tit-monthrank{
        margin-top:px2rem(30px);
        background-image:url("../images/h_yphb_caption.png");
    }
    &.tit-dayrank{
        margin-top:px2rem(100px);
        background-image:url("../images/h_rpab_caption.png");
    }
}

.h-footer{
    display:flex;
    margin-top:px2rem(40px);
    padding:0 px2rem(15px);
    li{
        flex:1;
        padding:0 px2rem(15px);
        a{
            display:block;
            height:px2rem(80px);
            overflow:hidden;
        }
        &.item-1{
            a{
                background:url("../images/btn_wytp.png") no-repeat top center;
                background-size:auto 100%;
            }
        }
        &.item-2{
            a{
                background:url("../images/btn_zhuce.png") no-repeat top center;
                background-size:auto 100%;
            }
        }
    }
}


/**
 * 
 */
.rule-body{
    .container-out-bg{
        height:100%;
    }
    .container-inner-bg{
       height:100%;
    }
}
.rules-box{
    padding-top:px2rem(110px);
    position:relative;
    margin-top:px2rem(-230px);
    .caption{
        width:px2rem(292px);
        height:px2rem(105px);
        overflow:hidden;   
        background:url("../images/hdgz_caption.png") no-repeat top center;
        position: absolute;
        left: 50%;
        top:0;
        -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .iscroll-wrap{
        position: relative;
        height:px2rem(450px);
        overflow: hidden;
        -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    }
    .iscroll-scroller{
        position: absolute;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    }
    .rules-bd{
        width:px2rem(689px);
        height:px2rem(491px);
        overflow:hidden;
        margin-top:px2rem(-50px);
        background:url("../images/rules_bg.png") no-repeat top center;
        background-size:100% 100%;
        .detail{
            padding:px2rem(30px);
            .tit{
                color:#9b2b32;
                @include font-dpr(18px);
                font-weight:bold;
                margin-top:px2rem(20px);
            }
            .desc{
                color:#26252b;
                margin-top:px2rem(15px);
                @include font-dpr(14px);
                line-height:1.34;
                img{
                    max-width:100%;
                }
            }
        }
    }
}


.footer{
    display:flex;
    position:fixed;
    left:0;
    width:100%;
    bottom:0;
    height:px2rem(100px);
    line-height:px2rem(100px);
    background:#e4d592;
    box-shadow: 0 0 15px 0 #666;
    li{
        flex:1;
        a{
            display:block;
            text-align:center;
            @include font-dpr(16px);
            color:#ef626f;
        }
    }
}